<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>AURA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" />
  </head>
  <body>
    <a href="javascript:history.back()" class="back-arrow"></a>

    <div class="elipse1"></div>
    <div class="elipse2"></div>
    <div class="elipse3"></div>

    <!-- Formulário de login -->
    <form method="POST" action="/login">
      <h1 class="titulo-login">Login</h1>
      <p class="subtitulo-login">Educação ao seu alcance. Faça login agora!</p>

      {% if erro %}
      <div class="erro-login">{{ erro }}</div>
      {% else %}
      <div class="erro-login">&nbsp;</div>
      {% endif %}

      <label class="label">Email:</label><br />
      <input
        type="email"
        name="email"
        placeholder="Digite aqui o seu Email"
        required
      />

      <label class="label">Senha:</label><br />
      <input
        type="password"
        name="senha"
        placeholder="Digite aqui a sua senha"
        required
      />

      <button class="btn btn--verde upload__btn">Entrar</button>

      <p class="subtitulo-login">
        Novo por aqui? <a href="/cadastro">Cadastre-se!</a>
      </p>
    </form>
  </body>
</html>
